In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Open Meat_Stats_Meat_Production.csv
meat_production_df = pd.read_csv('Data/Meat_Stats_Meat_Production.csv')

display(meat_production_df.head())
meat_production_df.info()

,Date,Year,Month,Unit,Production,Animal,Commercial or Federally Inspected,Type of Meat
0,Dec-2023,2023,12,Million Pounds,"2,189.80",Beef,Commercial,Red Meat
1,Nov-2023,2023,11,Million Pounds,"2,280.90",Beef,Commercial,Red Meat
2,Oct-2023,2023,10,Million Pounds,"2,340.90",Beef,Commercial,Red Meat
3,Sep-2023,2023,9,Million Pounds,"2,149.40",Beef,Commercial,Red Meat
4,Aug-2023,2023,8,Million Pounds,"2,363.50",Beef,Commercial,Red Meat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13595 entries, 0 to 13594
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               13595 non-null  object
 1   Year                               13595 non-null  int64
 2   Month                              13595 non-null  int64
 3   Unit                               13595 non-null  object
 4   Production                         9620 non-null   object
 5   Animal                             13595 non-null  object
 6   Commercial or Federally Inspected  13595 non-null  object
 7   Type of Meat                       13595 non-null  object
dtypes: int64(2), object(6)
memory usage: 849.8+ KB

In [4]:
# Drop rows with NaN values
meat_production_df = meat_production_df.dropna()

meat_production_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9620 entries, 0 to 13125
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               9620 non-null   object
 1   Year                               9620 non-null   int64
 2   Month                              9620 non-null   int64
 3   Unit                               9620 non-null   object
 4   Production                         9620 non-null   object
 5   Animal                             9620 non-null   object
 6   Commercial or Federally Inspected  9620 non-null   object
 7   Type of Meat                       9620 non-null   object
dtypes: int64(2), object(6)
memory usage: 676.4+ KB

In [9]:
# Unique values in Animal column
meat_production_df['Animal'].unique()

# Unique values in Type of Meat column
meat_production_df['Type of Meat'].unique()

array(['Red Meat', 'Poultry'], dtype=object)

In [11]:
# Create a df for 2000 data onwards
meat_production_df_2000 = meat_production_df[meat_production_df['Year'] >= 2000]

display(meat_production_df_2000)

,Date,Year,Month,Unit,Production,Animal,Commercial or Federally Inspected,Type of Meat
0,Dec-2023,2023,12,Million Pounds,"2,189.80",Beef,Commercial,Red Meat
1,Nov-2023,2023,11,Million Pounds,"2,280.90",Beef,Commercial,Red Meat
2,Oct-2023,2023,10,Million Pounds,"2,340.90",Beef,Commercial,Red Meat
3,Sep-2023,2023,9,Million Pounds,"2,149.40",Beef,Commercial,Red Meat
4,Aug-2023,2023,8,Million Pounds,"2,363.50",Beef,Commercial,Red Meat
...,...,...,...,...,...,...,...,...
12642,May-2000,2000,5,Million Pounds,416.5,Turkey,Federally Inspected,Poultry
12643,Apr-2000,2000,4,Million Pounds,469.7,Turkey,Federally Inspected,Poultry
12644,Mar-2000,2000,3,Million Pounds,414.9,Turkey,Federally Inspected,Poultry
12645,Feb-2000,2000,2,Million Pounds,399.9,Turkey,Federally Inspected,Poultry
12646,Jan-2000,2000,1,Million Pounds,430,Turkey,Federally Inspected,Poultry